a {
    text-decoration: none;
}

header{
    background-color: rgb(255, 255, 255);
    height: 5vh;
    display: grid;
    grid: [row1s] "HG1 . HG2" 100% [row1e]
    / 150px 1fr 200px;
}
.HG1 {
    grid-area: HG1;
    place-self: center;
}

.HG1 a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 10px;
}

.HG2 {
    grid-area: HG2;
    place-self: center;
}

.HG2 a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 10px;
}

a:hover {
    text-decoration: underline;
}

.image-div {
    display: inline;
    padding: 10px;
    margin-left: 15px;
}

.image-div img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.image-div:hover {
    border-radius: 50%;
    background-color: rgba(60,64,67,0.08);;
}

main {
    background-color: rgb(255, 255, 255);
    height: 85vh;
    display: grid;
    grid: [row1s] ". . ." 0.3fr [row1e]
    [row2s] ". main ." 1fr [row2e]
    [row3s] ". . ." 1fr [row3e]
    / 10vw 80vw 10vw;
    place-content: center;
    place-items: center;
}

.MC {
    grid-area: main;
    width: 100%;
    margin: 0 auto;
}
.MC img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 50px auto;
}

.input-container {
    border: 1px solid rgb(184, 180, 180);
    border-radius: 24px;
    height: 44px;
    width: 90%;
    max-width: 582px;
    margin: 0 auto;
}

.input-container input {
    width: 85%;
    display: block;
    margin: 10px auto;
    border: none;
}

.MC .button-container {
  
    width: 85%;
    margin: 30px auto;
    text-align: center;
}

.button-container button {
    background-color: rgb(248, 249, 250);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    min-width: 54px;
    height: 36px;
    border: none;
    padding: 5px 15px;
    margin-bottom: 15px;
}

.footer-one {
    background-color: rgb(242, 242, 242);
    height: 5vh;
}

.footer-one p {
    position: relative;
    color: rgb(102, 102, 102);
    max-width: 50px;
    left: 15px;
    top: 10px;
    font-size: min(1.5vh, 15px);
    
}

footer {
    display: grid;
    background-color: rgb(242, 242, 242);
height: 5vh;
grid: [row1s] "FG1 . FG2" 100% [row1e]
/ auto 1fr auto;
}

footer .FG1 {
    grid-area: FG1;
    font-size: min(1.5vh, 15px);
    place-self: center;
}

footer .FG2 {
    grid-area: FG2;
    place-self: center;
    font-size: min(1.5vh, 15px);
    
}

footer .FG1 a {
    margin-left: 10px;
    color: rgb(112, 117, 122);
}

footer .FG2 a {
    margin-right: 10px;
    color: rgb(112, 117, 122);
}

footer a:visited {
    color: rgb(112, 117, 122);
}


